body {
    font-family: 'Open Sans', sans-serif;
    color: #7b7b7b;
    line-height: 1.7;
}

p {
    margin: 0 0 2em;
}

h1,
h2 {
    color: #0f2f99;
}

h3,
h4,
h5,
h6 {
    color: #787878;
    font-weight: normal;
    margin: 0 0 1em 0;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    text-align: center;
    box-sizing: border-box;
    background-image: url(Imagens/overlay.png), url(Imagens/fundo.jpg);
    background-position: right bottom;
    background-size: cover;
    padding: 150px 60px;
    transition-property: background;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

.main-header:hover {
    background: url(Imagens/overlay.png), url(Imagens/fundoazul.jpg);
    background-position: right bottom;
    background-size: cover;
}

.main-header ul li {
    display: inline;
    color: rgba(255, 255, 255, 0.986);
}

.main-header-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.972);
}

.main-header-img1 {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 8px 8px 1px #0f2f99;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.main-header-img1:hover {
    width: 80%;
}

.main-header-foot {
    display: block;
    padding-top: 38%;
}

.main-header-foot ul {
    text-align: center;
    padding-left: 0px;
}

.main-header-foot ul li {
    font-size: 10px;
    letter-spacing: 1px;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.main-header-foot ul li:hover {
    font-size: 12px;
}

.main-content {
    background-color: rgba(222, 219, 219, 0.28);
    width: 65%;
    margin-left: 35%;
    padding: 50px 36px 0px 80px;
    box-sizing: border-box;
}

.main-content-objetivo ul li {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.main-content-objetivo ul li:hover {
    color: #0f2f99;
}

.main-content-cursos ul li {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.main-content-cursos ul li:hover {
    color: #0f2f99;
}

.main-content-vivencias ul li {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.main-content-vivencias ul li:hover {
    color: #0f2f99;
}

.rodape {
    background-color: rgba(0, 0, 0, 0.81);
    height: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
    transition-property: background;
    transition-duration: 0.5s;
}